
#footer{
    background-color: #261f65;
    color: white;
}

main{
    color: #f93d8a;
}

header{
    color: black;
    background-color: #e0284d;
}

body{
    background-color: #3f31a1;
    color: #f93d8a;
    padding-bottom: 32px;
}

.navbar-text{
    font-size: 18px;
}

.navbar-text:hover{
    font-size: 18px;
    animation: pulse;
}

#container{
    color: #5ef3fb;
}

#emailHelp{
    color: #5ef3fb;
}

.icon32{
    width: 32px;
    height: 32px;
}

label{
    color: #5ef3fb;
}

#enviar{
    color: #e0284d;
    background-color: #261f65;
}

#contacto{
    background-color: #261f65;
}

