
#footer{
    background-color: #261f65;
    color: white;
}

header{
    color: black;
    background-color: #e0284d;
}

body{
    background-color: #3f31a1;
    color: #f93d8a;
}

#contacto{
    color: #5ef3fb;
}

